@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');

* {
    margin: 0;
    padding: 0;
}

p {
    position: absolute;
    top: 80px;
    text-align:center;
    width: 100%;
    font-size: 20px;
}

h2 {
    color: white;
    font-weight: 100;
    text-decoration: underline;
    position: absolute;
    text-align: left;
    left: 30px;
    margin-top: 20px;
    width: 100%;
}

body {
    background-color: black;
    visibility: hidden;
    overflow-x: hidden;
}

video {
    pointer-events: none;
}

#cover-img {
    width: 100vw;
    bottom: 0;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

br {
    margin: 10px;
}

.video-container {
    display: flex;
    background-color: black;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* padding-top: 30px; */
    border: 0;
}

.big {
    font-family: "BBH Sans Bartle", sans-serif;
    font-size: 4.85cqw;
    width: 100%;
    text-align: center;
    color: #e4e4e4;
}

#top {
    position: absolute;
    top: 0;
}

#bottom {
    transform: rotate(180deg);
}
